.sq {
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  background-color: black;
  padding: 0 0.2em;
  border-radius: 20%;
}

.blue {
  color: #7fd2e2
}

.yellow {
  color: yellow
}

.red {
  color: red
}

.green {
  color: #36f251
}

.smallheader {
  font-size: 2.0rem;
  display: flex;
  height: 100vh;
  align-items: center;
}

.ref {
  font-size: 16px;
  vertical-align: bottom;
}

.shadow {
  padding: 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.card {
  border-radius: 8px;
  padding: 10px;
  width: max-content;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  margin: 20px 30px 20px 10px;
}

.examlist {
  list-style-type: '☐';
  padding: 10px 10px;
}

.examlist li {
  font-size: 18px;
  padding: 2px 5px;
}

.examlist li::marker {
  content: '☐ '
}

.arrow-up {
  color: blue;
  font-size: 30px;
}

.arrow-down {
  color: red;
  font-size: 30px;
}

.rectangle {
  position: absolute;
  border: 8px solid darkred;
  background: none;
}

.annotation {
  position: absolute;
  background: none;
}
